<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Math Calculator</title>
	<style>
		.result{
			font-size: 22pt;

		}
		
	</style>
</head>
<script>
	function MathCalculator(){
		this.number1 = 0;
		this.number2 = 0;
		this.result = 0;
	}
	MathCalculator.prototype.add = function(){
		this.result = this.number1 + this.number2;
	}
	MathCalculator.prototype.subtract = function(){
		this.result = this.number1  - this.number2;
	}
	MathCalculator.prototype.multiply = function(){
		this.result = this.number1 * this.number2;
	}
	MathCalculator.prototype.divide = function(){
		this.result = this.number1 / this.number2;
	}

</script>
<script src="angular.js"></script>
<script>
	angular
		.module("myApp", [])
		.controller('calculatorController1', function($scope){
			$scope.calculator = new MathCalculator();
		})
		.controller('calculatorController2', function($scope){
			$scope.calculator = new MathCalculator();
			
		})

</script>
<body ng-app="myApp">
	<h1>Math Calculator</h1>
	<hr>
	<div id="calculator1" ng-controller="calculatorController1">
		<input type="number" ng-model="calculator.number1">
		<input type="number" ng-model="calculator.number2">
		<input type="button" value="Add" ng-click="calculator.add()">
		<input type="button" value="Subtract" ng-click="calculator.subtract()"> 
		<input type="button" value="Multiply" ng-click="calculator.multiply()">
		<input type="button" value="Divide" ng-click="calculator.divide()">
		<div class="result" ng-bind="calculator.result">[Result]</div>
	</div>
	<hr>
	<div id="calculator2" ng-controller="calculatorController2">
		<input type="number" ng-model="calculator.number1">
		<input type="number" ng-model="calculator.number2">

		<select ng-model="operation" ng-change="calculator[operation]()">
			<option value="add">Add</option>
			<option value="subtract">Subtract</option>
			<option value="multiply">Multiply</option>
			<option value="divide">Divide</option>
		</select>
		
		
		<div class="result" ng-bind="calculator.result">[Result]</div>
	</div>
</body>
</html>